.wrapper {
  background-color: #73b010;
}

.containerHead {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 90px;
}

.linkMenuNON {
  display: none;
}

.titleHead {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
}

.reg {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.name {
  margin-left: 10px;
}
.user {
  display: flex;
  padding-right: 30px;
  margin-left: 10px;
}

.linkMenu {
  font-family: "Montserrat";
  border-radius: 50%;
  padding: 30px 60px;
  color: #ffffff;
  text-decoration: none;
}

.linkMenu:hover {
  outline: 3px solid white;
  cursor: pointer;
}
.linkMenu.active {
  background-color: #4c7707;
  border: 3px solid white;
}
.linkMenuReg {
  font-family: "Montserrat";
  border-radius: 50%;
  padding: 30px 60px;
  color: #ffffff;
  text-decoration: none;
}
