.wrap {
  background-color: #73b010;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 90px;
}

.title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 300;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  color: #ffffff;
}

.reg {
  display: flex;
  align-items: center;
  color: #ffffff;
}

.name {
  margin-left: 10px;
}
.user {
  display: flex;
  padding-right: 30px;
}
