.wrapperHome {
  padding: 30px;
}

.containerHome {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

.blog {
  max-width: 250px;
  border: 3px solid black;
  border-radius: 30px;
  cursor: pointer;
}

.prod {
  padding: 10px;
}

.textBlog {
  border-bottom: 3px solid teal;
  padding-bottom: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 39px;
  border-radius: 25px;
  color: #000000;
}

/*  */
.mainHeadOff {
  display: none;
}
.productOn {
  display: grid;
  grid-template-columns: 70% 30%;
}
.productOff,
.blogShopOff,
.blogSiteOff,
.none,
.blogFloorOff,
.blogRoomOff,
.btnAppliOff,
.wayOff {
  display: none;
}

.blogShop {
  max-width: 250px;
  border: 3px solid black;
  border-radius: 30px;
  margin: 10px 0px;
  cursor: pointer;
}

.arrow {
  width: 30px;
  align-self: center;
  position: relative;
  top: 10px;
  padding: 0px 3px;
}

.textblogShop {
  border-bottom: 3px solid teal;
  padding-bottom: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 39px;
  border-radius: 25px;
  color: #000000;
}

.shop {
  padding: 10px;
}

.blogSite {
  max-width: 250px;
  border: 3px solid black;
  border-radius: 30px;
  margin: 10px 0px;
  cursor: pointer;
}

.textblogSite {
  border-bottom: 3px solid teal;
  padding-bottom: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 39px;
  border-radius: 25px;
  color: #000000;
}

.site {
  padding: 10px;
}

.blogFloor {
  max-width: 250px;
  border: 3px solid black;
  border-radius: 30px;
  margin: 10px 0px;
  cursor: pointer;
}

.textblogFloor {
  border-bottom: 3px solid teal;
  padding-bottom: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 39px;
  border-radius: 25px;
  color: #000000;
}

.floor {
  padding: 10px;
}

.blogRoom {
  max-width: 250px;
  border: 3px solid black;
  border-radius: 30px;
  margin: 10px 0px;
  cursor: pointer;
}

.textblogRoom {
  border-bottom: 3px solid teal;
  padding-bottom: 15px;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 39px;
  border-radius: 25px;
  color: #000000;
}

.room {
  padding: 10px;
}

.blogBtn {
  cursor: pointer;
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  text-transform: uppercase;

  color: #642424;
  border: 3px solid teal;
  display: block;
  width: 200px;
  border-radius: 90px;
  margin: 0px auto;
}

.blogBtn:hover {
  outline: 3px solid green;
}

.btnAppli {
  position: relative;
  top: 10px;
  right: 240px;
  border: 1px solid #4285f4;
  font-weight: bold;
  outline: none;
  background: #4285f4;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  margin-left: 10px;
  margin-right: 8px;
  min-width: 96px;
  padding: 9px 23px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  cursor: pointer;
  text-transform: uppercase;
}

.btnAppli:hover {
  background: #0548b3;
}

.modalApp {
  display: grid;
  grid-template-columns: 70% 30%;
}

.titleRoom {
  border: 3px solid gray;
  background-color: #fff;
  border-radius: 10px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.inputModal {
  border: none;
  background-color: green;
  border-bottom: 3px solid white;
  margin-bottom: 40px;
  color: white;
  padding-left: 10px;
  font-family: "Inter";
  font-weight: 500;
  font-size: 18px;
  letter-spacing: 0.25px;
  line-height: 16px;
}

.titleAppli {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #ffffff;
}

.formAppli label {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 29px;
  text-transform: uppercase;
  margin-bottom: 30px;
  color: #3f0a0a;
}

.btnInp {
  margin-top: -40px;
  margin-bottom: 40px;
}

.btnModal_Appli {
  position: relative;
  border: none;
  outline: 3px solid teal;
  font-weight: bold;
  outline: none;
  background: white;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  line-height: 16px;
  margin-left: 10px;
  margin-right: 8px;
  min-width: 96px;
  padding: 9px 23px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  box-sizing: border-box;
  color: teal;
  cursor: pointer;
  text-transform: uppercase;
}

.btnModal_Appli:hover {
  background-color: teal;
  color: white;
}

.way {
  max-width: 250px;
  max-height: 150px;
  padding: 5px;
  background-color: rgb(219, 217, 217);
  border: 3px solid gray;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.btnWay {
  margin-top: 10px;

  align-self: flex-end;
  border: none;
  outline: 3px solid teal;
  font-weight: bold;
  outline: none;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  background-color: rgb(219, 217, 217);
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  box-sizing: border-box;
  color: teal;
  cursor: pointer;
}

.btnWayEnd {
  margin-top: 10px;

  align-self: flex-end;
  border: none;

  font-weight: bold;
  outline: none;
  font-family: "Inter";
  font-weight: 500;
  font-size: 14px;
  letter-spacing: 0.25px;
  background-color: rgb(219, 217, 217);
  padding: 5px;
  text-align: center;
  vertical-align: middle;
  border-radius: 4px;
  box-sizing: border-box;
  color: rgb(105, 185, 123);
  cursor: pointer;
}

.btnWay:hover {
  color: rgb(47, 71, 71);
  font-size: 15px;
}

.modalWay {
  border-radius: 12px;
  background-color: #fff;
  padding: 0px 20px;
}

.titleWay {
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;
  padding: 10px;
  color: #000000;
  border-bottom: 3px solid gray;
}

.textModalWay {
  padding: 30px;
}

.time {
  text-align: left;
  font-family: "Inter";
  font-style: normal;
  font-weight: 800;
  font-size: 24px;
  line-height: 29px;
  text-transform: uppercase;

  color: #000000;
}

.btns {
  margin-top: 50px;
  padding: 10px 40px;
  display: flex;
  justify-content: space-around;
}

.btnOn {
  padding: 6px 20px;
  background-color: #448c4b;
  color: white;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  letter-spacing: 0.55px;
  margin-right: 10px;
  cursor: pointer;
}

.btnOFF {
  padding: 6px 20px;
  background-color: #f40000;
  color: white;
  border: none;
  border-radius: 20px;
  text-transform: uppercase;
  font-weight: 600;
  font-size: 14px;
  line-height: 29px;
  letter-spacing: 0.55px;
  cursor: pointer;
}

.textWay {
  display: flex;
  justify-content: space-between;
}
.textWayRed {
  color: red;
  padding-left: 10px;
}
